﻿#header {
    height: 100px;
    width: 100%;
    background-color: lightblue;
    text-align: center;
    overflow: hidden;
}

#header h1 {
    color: white;
    font-size: 70px;
    margin-top: 15px;
}

#page {
    margin: 20px auto;
    overflow: hidden;
    width: 1000px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}