﻿#editor {
    margin: 0 auto;
    position: relative;
    width: 800px;
    float: left;
}

#editor .toolbar {
    height: 50px;
    width: 100%;
    background-color: lightgray;
    text-align: left;
    overflow: hidden;
    padding: 10px;
}

#editor .toolbar .color {
    float: right;
    width: 50px;
}

#editor .toolbar .button {
    margin-top: 2.5px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    width: 45px;
    height: 100%;
    border-width: 1px;
    border-color: black;
    cursor: pointer;
}

#editor .toolbar .button:hover {
    opacity: 0.7;
}

#editor .toolbar .button.clicked {
    border-width: 3px;
}

#editor .toolbar .button.rectangle {
    background-image: url('../images/Restangle.png');
}

#editor .toolbar .button.ellipse {
    background-image: url('../images/Ellipse.png');
}

#editor .toolbar .button.pencil {
    background-image: url('../images/Pencil.png');
}

#editor .toolbar .button.line {
    background-image: url('../images/Line.png');
}

#editor .toolbar .button.load {
    background-image: url('../images/load.jpeg');
}

#editor .toolbar .button.save {
    background-image: url('../images/save.jpeg');
}

#editor .toolbar .button.eraser {
    background-image: url('../images/Eraser.png');
}

#editor .toolbar .button.Text {
    background-image: url('../images/text.png');
}

#editor .toolbar .button.new {
    margin-left: 12px;
    margin-right: 12px;
    background-image: url('../images/New_file.jpeg');
}

#editor .toolbar .button.undo {
    background-image: url('../images/Undo.png');
}

#editor .toolbar .button.redo {
    background-image: url('../images/Redo.png');
}

#editor .toolbar .button.disabled {
    opacity: 0.3;
}

#container {
    position: relative;
}

#imageView {
    border: 1px solid #000;
}

#imageTemp {
    cursor: pointer;
}

#imageTemp {
    position: absolute;
    top: 1px;
    left: 1px;
}

.submitButton {
    background: url('../images/submit.png') no-repeat scroll 0 0 transparent;
    width: 155px;
    height: 71px;
    border: none;
    white-space: normal;
    cursor: pointer;
    font-weight: bold;
}

.submitButton:hover,
.submitButton.clicked {
    opacity: 0.7;
}

.submitButton.disabled {
    opacity: 0.5;
}

#slider,
#slider a {
    cursor: pointer;
}

#description {
    float: left;
    margin-left: 40px;
    width: 300px;
    line-height: 50px;
}